.orderContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.pageTitle{
    padding: 6px 10px;

}
.pageTitle > span{
    color:red
}

.orderCard {
    background: white;
    display: flex;
    flex-direction: column;
    place-content: space-between;
    border-radius: 5px;
    position: relative;
    max-width: 400px;
    min-width: 300px;
    padding: 4px 8px;
    margin: 5px 9px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.orderCard__remove {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 16px;
    background: rgb(240, 238, 238);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 6px;
    display: flex;
    place-items: center;
    border-radius: 50%;

}

.orderCard__remove:hover {
    cursor: pointer;
    transform: scale(1.099)
}

.cartBox__item {
    display: flex;
    place-items: center;
    margin: 4px 0px;
    background: rgba(255, 255, 255, 0.994);

}

.cartBox__item img {
    width: 70px;
    margin-right: 10px;

}

.cartBox__itemName {
    color: red;

}

.cartBox__itemQty span {
    color: grey;
}

.cartBox__itemQty {
    font-size: 10px
}

.cartBox__itemPrice span {
    color: grey;
}

.cartBox__itemPrice {
    font-size: 12px
}

.orderAddress {
    background: rgb(232, 230, 230);
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: justify;
    height: fit-content;
    
}

.orderAddress span {
    color: rgb(237, 68, 68);
    font-weight: 600;
    font-size: 14px;

}

.noOrder__section{
    width:100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    position: relative;
    

}

.orderTitle{
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    top:25px;
}

.noOrder__section >img{
    width: 550px;
    height:auto;
}
.totalPrice{
    color:red;
    font-weight:700;
    font-size:20px;
    position:absolute;
    top:55px;
    right:-9px;
    width:fit-content;
    transform:rotate(80deg) translateY(-50%);
    background:yellow; 
     border :2px solid black;
     border-left : 4px solid black;
    background:white;
    padding: 0px 8px;
    z-index:5;



}
@media(max-width :780px) {
    .orderContainer {
        display: flex;

        flex-direction: column;
        place-items: center;
    }

    .orderAddress {
        margin-bottom: 10px;
    }


    .noOrder__section{
        width:100%;
        
        display: flex;
        flex-direction: column;
        place-items: center;
        position: relative;
        
    
    }
    
    .orderTitle{
        position: absolute;
        font-size: 60px;
        font-weight: 700;
    }
    
    .noOrder__section >img{
        width: 480px;
        height:auto;
    }
}

@media(max-width:480px){
  
    .noOrder__section{
        height: 100vh;
    }
    
    .orderTitle{
        top: 100px;
        font-size: 50px;
    }
    
    .noOrder__section >img{
        width: 97%;
    }
    
}