.cartPage{
    display: flex;
    justify-content: center;
}
.cartPage_product{
    
    flex:2;
    margin:2px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cartPage_checkout{
    justify-content:center;
    width:300px;
    display: flex;
    min-height:150px;


}


@media(max-width:780px){
    .cartPage_product{
        padding:0px 20px;
        display: flex;
    flex-direction: column;
    place-items: center;
    }
    .cartPage{
        display: flex;
        flex-direction: column;
    }
    .cartPage_checkout{
        bottom:10px;
        min-height:150px;
        width:100%;
        justify-content:center;
        display: flex;
    
    
    }
    
    
}

@media(max-width :480px){
    .cartPage_product{

    }
}
