.profileContainer{
    position: relative;

}
.userDescription{
    background-color: white;
    position: relative;
    width: 100%;
    display: grid;
    height: 200px;
    grid-template-columns:  1fr;
    place-items: center;

}

.userName{
    background-color: white;
    width: fit-content;
    /* width: 4em; */
    text-align: center;
    column-span: 3;
    font-size: 4em;
    color: rgb(243, 55, 55)

}

.userName > span{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding:3px 5px;
    font-weight :700;
}
.userStore{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
}

.addProduct{
  background : black;
  color:white;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  border: 2px solid black;
  padding: 3px 5px;
  position: fixed;
  right :10px;
  bottom: 10px;
  z-index:9999;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .addProductPage {
    background-color: rgba(248, 200, 200, 0.5);
    z-index: 99999;
    min-height: 100vh;
    width: 100vw;
    position : fixed;
    top:0;
    left: 0;
    display: grid;
    place-content: center;
  }
  .addProductContainer {
    width: 80vw;
    max-height: 500px;
    overflow-y: scroll;
    
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }

.addProductContainer::-webkit-scrollbar {
  width: 0.5em;
}

.addProductContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.addProductContainer::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}
  .profileProduct{
    position:relative
  }

  .x-icon3{
    position: absolute;
    display: flex;
    border-radius: 50%;
    padding:4px;
    top:0px;
    right:0px;
    background-color: #fff;
    transform: translate(-65%,65%);
    border:2px solid rgb(255, 76, 76);
    font-size: 12px;
}
.x-icon3 >svg{
    font-size: 18px;
}
.x-icon3:hover{
    background-color: rgb(255, 89, 89);
}

  .addProductContainer > .allInputs{
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-areas: "addSection_one addSection_two"; */
  }
  
  .addProduct_one {
    display: grid;
    position: relative;
 
    grid-area: "addSection_one";
    /* border: 1px solid black; */
  }
  .imgIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25px, -25px);
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    padding: 5px;
    border-radius: 5px;
  }
  .imgIcon > svg {
    font-size: 50px;
  }
  #imgInput {
    display: none;
  }
  .preview {
    height: 350px;
    background-color: rgb(192, 192, 192);
  }
  .preview > img {
    width: 100%;
    height: 100%;
  }
  /* 
  .addProduct_two{
  
    grid-area: "addSection_two";
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:5px;
  
  } */
  
  .addProduct_two {
    /* border:1px solid; */
    display: grid;
    width: 100%;
    place-items: center;
  }
  
  .simpleInput {
    width: 95%;
    font-size: 16px;
    height: 40px;
    padding: 5px 2px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: 700;
    border: 2px solid rgb(0, 0, 0);
    /* background-color: rgb(218, 216, 216); */
  }
  
  .addProduct_two > textarea {
    height: 80px;
  }
  
  .addProduct_three {
    height: fit-content;
    display: grid;

  }
  .inputSection {
    /* height: 45px; */
    min-height: fit-content;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 5px;
    display: grid;
    align-items: center;
    /* place-items: center; */
    width: fit-content;
    width: 100%;
    background-color: rgb(207, 204, 204);
  }
  .inputSection >label{
    display: flex;
    align-items:center;
  }
  select {
    width: fit-content;
    padding: 5px ;
    background-color: rgb(0, 0, 0);
    border:0;
    color:white;
    font-weight: 700;
  }

  .option {
    height: 50px;
    font-size: 16px;
    background-color: white;

    
    
  }
  .addFeatures {
    display: flex;
    justify-content: space-between;
  }
  .addFeatures > input {
    /* flex:1; */
    font-size: 16px;
    height: 35px;
    font-weight: 700;
    padding: 5px 2px;
    border-radius: 4px;
    width: 82%;
    border: 1px solid;
  }
  .addFeatures > button {
    width: 16%;
    background-color: black;
    border: 0;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
  }
  .featureItem{
    background: rgb(147, 230, 168);
    width: 100%;
    display: flex;
    padding: 5px 10px;
    font-weight: 700;
    margin-bottom: 3px;
    align-items: center;
    color: white;
    justify-content: space-between;
  }
  .sizeOption {
    display: flex;
    justify-content: space-between;
  }
  
  .formAction {
    display: flex;
    justify-content: flex-end;
  }
  .formAction > button{
    width: fit-content;
    background-color: black;
    border: 0;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    margin : 4px;
    padding: 5px 8px;
    
  }
  


@media(max-width : 768px){

    .addProduct__form{
        width: 60%;
    }
    .userName{
        
        font-size: 2.5em;
        color: rgb(243, 55, 55)
    
    }

    .userDescription{
        height: 100px;
    }
    .addProduct_one{
      margin-bottom: 10px;
    }
    .addProduct_two{
      margin-bottom: 10px;
    }
    .addProduct_three{
      margin-bottom: 10px;
    }
 
      
   
    
    
}

  @media(max-width : 480px){

    .addProduct__form{
        width: 80%;

    }
    .simpleInput{
      width: 100%;
    }
    
    .userName{
        
        font-size: 1.6em;
        color: rgb(243, 55, 55)
    
    }
    
 
}