@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');

.home {
    display: flex;
    width: 100%;
    height: 85vh;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.innerHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bannerSection {
    height: 350px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(https://images.unsplash.com/photo-1454486837617-ce8e1ba5ebfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80);
}

.bannerDetail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    color: white;
    text-align: center;

}

.detail {
    font-family: 'Crushed', cursive;
    color: white;
    font-size: 50px;
    width:fit-content;
    font-weight: 900;

    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 5.5s steps(40, end) infinite,
        blink-caret .75s step-end infinite;


}

.detail>span {
    color: #f74b4b;
    font-size: 80px;
    font-family: 'Crushed', cursive;
}

.shopBtn {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 500;
    background-color: white;
    padding: 4px 16px;
    border: 0;
    transition: ease-in-out 350ms;
}

.shopBtn:hover {
    transform: scale(1.2);
    background-color: #f74b4b;

}

.features {
    display: flex;
    width: 100%;

}

.innerFeatures {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    place-items: center;
    width: 100%;
  

}

.featureBox {
    width: 180px;
    height: 110px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    display: flex;
    justify-content: space-evenly;
    background: white;
    /* flex-direction: column; */
    place-items: center;
    border-radius: 10px;
    margin: 20px;


}

.featureBox>img {
    width: 40px;
    margin-bottom: 0px;
}

.featureBox>.name {
    color: #f74b4b;
    font-weight: 500;
    font-size: 14px;


}

@media(max-width:780px) {
    .featureBox {
        /* flex-direction: column; */
        justify-content: center;
        width: 180px;
    }

    .bannerSection {
        height: 200px;
    }

    .detail {
        font-family: 'Crushed', cursive;

        color: white;
        font-size: 34px;
        font-weight: 900;

    }

    .detail>span {
        color: #f74b4b;
        font-size: 50px;
        font-family: 'Crushed', cursive;
    }

    .shopBtn {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 500;

        padding: 4px 16px;

    }

}


@media(max-width:480px) {
    .innerFeatures{
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));

    }
    .featureBox {
        flex-direction: column;
        justify-content: center;
        width: 120px;
    }

    .bannerSection {
        height: 200px;
    }

    .detail {
        font-family: 'Crushed', cursive;
        color: white;
        font-size: 20px;
        font-weight: 900;

    }

    .detail>span {
        color: #f74b4b;
        font-size: 30px;
        font-family: 'Crushed', cursive;
    }

    .shopBtn {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 500;

        padding: 4px 16px;

    }

}


@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #f74b4b;
    }
}