.x-vertical-card {
    width: 220px;
    height: fit-content;
    margin: 15px;
    padding-bottom:0px;

}

.x-card-icon {
    padding:3px !important;
    border:2px solid rgb(255, 76, 76);

}

.x-icon3{
    position: absolute;
    display: flex;
    border-radius: 50%;
    padding:4px;
    top:0;
    right:0;
    background-color: #fff;
    transform: translate(-10%,20%);
    border:2px solid rgb(255, 76, 76);
    font-size: 12px;
}
.x-icon3 >svg{
    font-size: 18px;
}
.x-icon3:hover{
    background-color: rgb(255, 89, 89);
}

@media(max-width:780px){
    .x-vertical-card {
        width: 190px;
        height: fit-content;
        margin: 15px;
    
    }
    
    .x-card-icon {
        padding: 5px;
    
    }
    .x_price{
        font-weight: 700;
        font-size: 16px;
    }

}

@media(max-width:480px){
    .x-vertical-card {
        width: 220px;
        height: fit-content;
        margin: 15px;
    
    }
    
    .x-card-icon {
        padding: 5px;
    
    }

}
