.sortFilter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sortFilter__sort{
    display: flex;
    flex-direction: column;
    padding:10px 15px;
}

.sortFilter__filter{
    display: flex;
    flex-direction: column;
    padding:10px 15px;
}
.sortFilter__clearBtn{
    max-width:100px;
}

@media(max-width : 640px){
    
    
    .sortFilter{
        margin:10px;
    }
}