@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 9999;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;

}

.logo p {

    font-family: 'Aclonica', sans-serif;

    padding: 0px 12px;
    font-size: 28px;
    margin-left: 5px;

}

.logo p span {
    color: rgb(244, 78, 78);
    font-family: 'Aclonica', sans-serif;
    font-size: 24px;
    margin-left: 5px;

}

.headerOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.headerOptions_menu>a {
    margin: 0px 10px;
}

.headerOptions__icon {
    position: relative;
    margin: 0px 5px;

}

.headerOptions_menu {
    margin: 0px 10px
}

.headerOptions__icon>span {
    position: absolute;
    background: black;
    border-radius: 50%;
    color: white;
    top: -10%;
    display: grid;
    place-content: center;
    width: 14px;
    font-size: 10px;
    height: 14px;
    right: -10%;

}

.loginBtn {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    background: rgb(221, 219, 219);
    color: black;

}

.loginBtn:hover {

    transform: scale(1.05);

    background-color: black;
    color: white;

}

.menuIcon {
    display: none;
}


@media(max-width : 650px) {
    .headerOptions_menu {
        position: absolute;
        padding: 30px 40px;
        top: 0px;
        left: 0px;
        height: 100vh;
        background-color: white;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 200px;
        transform: translateX(-100%);
        transition: ease-in-out 560ms;

    }

    .headerOptions_menuActive {
        position: absolute;
        padding: 30px 40px;
        top: 0px;
        left: 0px;
        height: 100vh;
        background-color: white;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 200px;
        transform: translateX(0%);
        transition: ease-in-out 560ms;

    }

    .loginBtn {
        margin-top: 20px;
        width: 120px;
        place-content: center;
        display: flex;
        place-self: center;
        background: black;
        color: white;

    }

    .headerOptions_menu button:hover {
        background: rgb(157, 156, 156);
        color: rgb(20, 20, 20);
    }

    .header {
        height: 10vh;
        width: 100vw;
    }

    .logo img {
        height: 50px;
    }

    .logo>p {

        padding: 3px 9px;


    }

    .menuIcon {
        display: block;
    }
}