.product-detail-card {
  display: flex;
  flex-direction: row;

}

.product-detail-card>img {
  position: fixed;
  height: auto;
  width: 40vw;
}

.size-list {
  display: flex;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
  flex: 1;

}

.size {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  min-width: 30px;
  min-width: fit-content;
  height: 30px;
  margin: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  justify-content: center;
  align-items: center;


}

.size:hover {
  transform: scale(1.05);
  background-color: rgb(240, 167, 98);



}

.product-details {
  padding: 20px;
  width: 100%;
  padding-left: 45vw;

}

.product-name {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.product-price {
  font-size: 35px;
  margin-bottom: 30px;
}

.product-description {
  text-align: justify;
  font-size: 25px;
  color: rgb(19, 18, 18)
}

.product-features {
  padding: 20px 0px;
  list-style: none;
  line-height: 1.8em;
}

.product-features>span {
  font-size: 25px;
}

.product-features>li {
  padding-left: 30px;
  font-size: 16px;
  font-weight: 400;

}

@media(max-width:780px) {
  .product-detail-container {
    margin-top: 0px;
  }

  .product-detail-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .product-detail-card>img {
    position: relative;
    margin-top: 10px;
    height: auto;
    width: 400px;
  }



  .size-list {
    display: flex;
    /* justify-content: space-between; */
    font-size: 12px;
    width: 100px;
    margin-bottom: 20px;
    flex: 1;

  }

  .size {
    width: 20px;
    height: 26px;
    padding: 7px;
    font-size: 20px;
    color: white;
  }

  .product-details {
    padding: 20px;
    width: 100%;

  }

  .product-name {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .product-description {
    text-align: justify;
    font-size: 16px;
    color: rgb(19, 18, 18)
  }
}

@media(max-width:480px) {
  .product-detail-container {
    margin-top: 0px;
  }

  .size-list{
    margin-bottom: 10px;
  }


  .product-detail-card>img {
    width: 95%;
    margin-top: 10px;
    
  
  }

  
}